aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
chardet==3.0.4
decorator==4.0.11
Django==2.1.1
idna==2.7
idna-ssl==1.1.0
image==1.5.25
imageio==2.1.2
InstagramAPI==1.0.2
moviepy==0.2.3.2
multidict==4.4.2
numpy==1.15.1
peewee==3.7.0
Pillow==5.2.0
python-decouple==3.1
pytz==2018.5
requests==2.11.1
requests-toolbelt==0.7.0
runp==0.0.2
telepot==12.7
tqdm==4.11.2
urllib3==1.23
yarl==1.2.6
