attrs==18.2.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
decorator==4.0.11
Django==2.1.1
future==0.16.0
idna==2.7
idna-ssl==1.1.0
image==1.5.25
imageio==2.1.2
InstagramAPI==1.0.2
moviepy==0.2.3.2
multidict==4.4.2
numpy==1.15.1
peewee==3.7.0
Pillow==5.2.0
pycparser==2.19
python-decouple==3.1
python-telegram-bot==11.1.0
pytz==2018.5
requests==2.11.1
requests-toolbelt==0.7.0
runp==0.0.2
six==1.11.0
telegram==0.0.1
tqdm==4.11.2
urllib3==1.23
